---
import type { BaseHeadProps } from '@/types/component.types'

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { themeConfig } from '@/config'
import 'katex/dist/katex.min.css'

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { description, ogImage, title } = Astro.props as BaseHeadProps
const imageUrl = ogImage ? new URL(ogImage, Astro.url) : new URL('/og/chiri-og.png', Astro.url)
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
<link as="font" crossorigin="anonymous" href="/fonts/Inter.woff2" rel="preload" type="font/woff2" />
<link
  as="font"
  crossorigin="anonymous"
  href="/fonts/Besley-Italic.woff2"
  rel="preload"
  type="font/woff2"
/>
<link href="/sitemap-index.xml" rel="sitemap" />
<link
  href={new URL('rss.xml', Astro.site)}
  rel="alternate"
  title={themeConfig.site.title}
  type="application/rss+xml"
/>
<meta content={Astro.generator} name="generator" />

<!-- Canonical URL -->
<link href={canonicalURL} rel="canonical" />

<!-- Primary Meta Tags -->
<title>
  {title || themeConfig.site.title}
</title>
<meta content={title} name="title" />
<meta content={description} name="description" />

<!-- Open Graph / Facebook -->
<meta content="website" property="og:type" />
<meta content={Astro.url} property="og:url" />
<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={imageUrl} property="og:image" />

<!-- Twitter -->
<meta content="summary_large_image" property="twitter:card" />
<meta content={Astro.url} property="twitter:url" />
<meta content={title} property="twitter:title" />
<meta content={description} property="twitter:description" />
<meta content={imageUrl} property="twitter:image" />

<style is:global define:vars={{ contentWidth: themeConfig.general.contentWidth }}>
  :root {
    --content-width: var(--contentWidth);
  }
</style>
