---
import '@/styles/global.css'
import BaseHead from '@/components/layout/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import CopyCode from '@/components/ui/CopyCode.astro'
import FormattedDate from '@/components/ui/FormattedDate.astro'
import ImagePlaceholderCleanup from '@/components/ui/ImagePlaceholderCleanup.astro'
import ImageViewer from '@/components/ui/ImageViewer.astro'
import { themeConfig } from '@/config'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { formatPageTitle } from '@/utils/seo'

interface Props {
  description?: string
  ogImage?: string
  pubDate: Date
  title: string
}

const { description, ogImage, pubDate, title } = Astro.props
const metaDescription = description || themeConfig.site.description
---

<BaseLayout type="post">
  <BaseHead
    description={metaDescription}
    ogImage={ogImage}
    publishedTime={pubDate}
    slot="head"
    title={formatPageTitle(title)}
    type="article"
  />
  <div class="post-container">
    <main>
      {
        Astro.slots.has('back-link') && (
          <div class="mb-4">
            <slot name="back-link" />
          </div>
        )
      }

      <div class="prose dark:prose-invert">
        <div class="title">
          <h1>{title}</h1>
          <div class="date">
            <FormattedDate date={pubDate} />
          </div>
        </div>
        <slot />
      </div>
    </main>
    <ImagePlaceholderCleanup />
    <CopyCode />
    {themeConfig.post.imageViewer && <ImageViewer />}
    {themeConfig.general.footer && <Footer />}
  </div>
</BaseLayout>

<style>
  .post-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .post-container main {
    flex: 1;
  }
</style>
