---
interface Props {
  href?: string
  interactive?: boolean
  label: string
}

const { href, interactive = true, label } = Astro.props

const classes = `tag ${interactive ? 'tag-interactive' : ''}`
---

{
  href ? (
    <a class={classes} href={href}>
      {label}
    </a>
  ) : (
    <span class={classes}>{label}</span>
  )
}
